.container-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
  height: 100%;
  background-color: #f8f9fa;
}

.table-list{
  margin: 3%;
  background-color: #ffae93;
}