.container-login{
  /* display: flex; */
  /* border: 5px solid navy; */
  background-image : url('../../images/background-grande.jpg');
  background-repeat: no-repeat;
  background-size: 99.9%;
  height: 100%;
}

.container-duo{
  display: flex;
  height: 100vh;
}

.first-div{
  /* border: 5px solid #d87093; */
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  color: #ffffdf;
}

.second-div{
  /* border: 5px solid gold; */
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-div{
  /* border: 5px solid royalblue; */
  flex-wrap: wrap;
  margin-top: 15%;
}

.container-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}

.button-cadastro{
  width: 76%;
  height: 94%;
  background-color: #fcbba5;
  color: #e55321;
  border: 0;
  font-weight: bold;
}

.form-login{
  width: 50%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffdf;
  border-radius: 20px;
  padding: 35px;
}

.button{
  background-color: #e55321;
  width: 76%;
  height: 15%;
  font-size: 30px;
}