.container-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffae93;
  height: 100vh;
}

.container-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}

.button-cadastro{
  width: 76%;
  height: 94%;
  background-color: #fcbba5;
  color: #e55321;
}

.form-login{
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 35px;
}

.button{
  background-color: #e55321;
  width: 76%;
  height: 15%;
  font-size: 30px;
}