.container-orders{
  background-color: #ffae93;
}

.form-orders{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 35px;
}

.center-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-register{
  background-color: #e55321;
  height: 15%;
  font-size: 30px;
}