.header {
  display: flex;
  align-items: center;
  background-color: #ffffdf;
  color: black;
  width: 100%;
  display: flex;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 40%;
  float: right;
  margin-left: 57%;
}

.navlink {
  color: #212529;
  text-decoration: none;
  float: right;
  margin-right: 1%;
  border-radius: 5px;
  padding: 1%;
  font-size: 17px;
  font-weight: 600;
}

.navlink.active, .navlink:hover {
  background-color: #e55321;
  transition: .5s;
  color: #ffffdf;
}

.logo-header{
  /* border: 5px solid blue; */
  margin-left: 2%;
}

@media screen and (max-width: 768px) {
.menu{
  width: 100%;
  height: 50%;
  padding: 80px;
  margin: 0, 0, 0;
}

.navlink{
    font-size: 15px;
}

nav{
    margin-left: 30px;
    width: 100%;
}

.header{
    justify-content: space-around;
}
}